*{
    font-family: 'Montserrat';
    font-size: 16px;
}

.btn-warning{
    background-color: #ff9700;
}
.text-yellow{
    color: #ff9700;
}
.border-yellow{
    border: #ff9700 solid 2px;
}

.text-hero{
    font-size: 40px;
}

.nav-link {
    color: #000000;
    font-size: 1.1em;
    position: relative;
}
.nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ff9700;
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
}
.nav-link:hover::after {
    width: 100%;
}

.pro{
    background-image: url("../Images/bgpro.png");
}
.bisnis{
    background-image: url("../Images/bgbisnis.png");
}
.enterprice{
    background-image: url("../Images/bgenter.png");
}

.shadow-left{
    box-shadow:  -5px 5px 9px rgba(0, 0, 0, 0.2);
}

.shadow-right{
    box-shadow:  5px 5px 9px rgba(0, 0, 0, 0.2);
}